@CHARSET "UTF-8";

body {
	background-color: #f0f29e;
}
#topNav {
	z-index: 90;
}

#countryList a {
/*	background-color: #edeecb;*/
}
#countryList input {
	margin-right: 4px;
}
img.flag {
	border: 1px solid #cccccc;
}
#itemTemplate {
	display: none;
}
/*
 * Dialog
 */
#dialog {
	display: none;
}
#dialog .note {
	margin-top: 20px;
	border-style: dotted;
	border-color: gray;
	border-width: 0px 0px 1px 0px;
	border-bottom-width: 1px;
}
